

<div class="top">
    <div class="budget">
      <div class="budget__title">
        Available Budget in <span class="budget__title--month">%Month%</span>:
      </div>
      <div class="budget__value">+ 0.00</div>
      <div class="budget__income clearfix">
        <div class="budget__income--text">Income</div>
        <div class="right">
          <div class="budget__income--value" value="display_income">+ 0.00</div>
          <div class="budget__income--percentage">&nbsp;</div>
        </div>
      </div>
      <div class="budget__expenses clearfix">
        <div class="budget__expenses--text">Expenses</div>
        <div class="right clearfix">
          <div class="budget__expenses--value">- 0.00</div>
          <div class="budget__expenses--percentage">0%</div>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom">
    <div class="add">
      <div class="add__container">
        {{input type="text" value=income_description class="add__description" placeholder="income description" autofocus="autofocus"}}
        {{input type="text" value=income class="add__value" placeholder="amount" autofocus="autofocus"}}
        <button class="add__btn"><i class="ion-ios-checkmark-outline" {{action 'saveIncome'}}></i></button>
        <br>
        {{input type="text" value=expense_description class="add__description" placeholder="expense description" autofocus="autofocus"}}
        {{input type="text" value=expense class="add__value" placeholder="amount" autofocus="autofocus"}}
        <button class="add__btn"><i class="ion-ios-checkmark-outline" {{action 'saveExpense'}}></i></button>
      </div>
    </div>

    <div class="container clearfix">
      <div class="income">
        <h2 class="icome__title">Income</h2>
        <div class="income__list">
        </div>

        {{#each inc as |inc|}}
          <div class="item clearfix"><div class="item__description">{{inc.income_description}}</div>
          <div class="right clearfix"><div class="item__value">{{inc.income}}</div>
        </div></div>

        {{/each}}


      </div>
      <div class="expenses">
        <h2 class="expenses__title">Expenses</h2>
        <div class="expenses__list">

          {{#each exp as |exp|}}
            <div class="item clearfix"><div class="item__description">{{exp.expense_description}}</div>
            <div class="right clearfix"><div class="item__value">{{exp.expense}}</div>
          </div></div>

          {{/each}}

        </div>
      </div>
    </div>
  </div>
